.sidebar {
    font-family: Roboto, sans-serif;
    background-color: #f1f1f1;
    color: #020101;
    padding-top: 60px;
    padding-left: 2%;
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;
    border: solid;
    border-color: rgb(192, 204, 213);
    box-shadow: 0px 20px 10px rgba(151, 125, 125, 0.1); /* Fixed box-shadow */
    border-radius: 5px;
    font-size:small;
    font-weight:500;
}
.poppins-extralight {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
  }

.shortcut-links img {
    width: 20px;
    margin-right: 20px;
}

.side-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: fit-content;
    flex-wrap: nowrap;
    cursor: pointer;
    margin: 12px;
}

.sidebar hr {
    border: 0;
    background: #b40d0d;
    margin-bottom: 10px;
    width: 85%;
    height: 1px; /* Added height for hr */
}

.Subscribed-list h3 {
    font-size: 16px;
    margin: 20px 0; /* Corrected margin */
    color: rgb(54, 34, 9);
}

.Subscribed-list img {
    width: 25px;
    border-radius: 50%;
    margin-right: 25px;
}

.Small-Sidebar {
    width: 0%;
}

.side-link.active img {
    padding-bottom: 2px;
    border-bottom: 2px solid #f30606;
}
@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}
